<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="container text-center">
        <div class="row">

            <div class="col align-self-center">
                Welcome on Medilabo Solutions !
            </div>

            <div class="container">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Family Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="patient : ${patients}">
                            <td th:text="${patient.firstName}"></td>
                            <td th:text="${patient.lastName}"></td>
                            <td style="width: 15%" class="text-center">
                                <a th:href="@{/frontend/view/{id}(id=${patient.id})}">View</a>
                                <a th:href="@{/frontend/delete/{id}(id=${patient.id})}">Delete</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>
</body>
</html>