<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>NOTES</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>

<div class="container mt-5">
    <h2>Notes for Patient : <span th:text="${patient.firstName} + ${patient.lastName}"></span></h2>

    <div th:if="${notes}">
        <ul class="list-group">
            <li class="list-group-item" th:each="note : ${notes}">
                <span th:text="${note.note}"></span>
            </li>
        </ul>
    </div>

    <form th:action="@{/notes/{id}}" method="post" th:object="${newNote}">
        <div class="form-group mt-3">
            <label for="newNote">Add a new note:</label>
            <input type="text" class="form-control" id="newNote" th:field="*{newNote}" required>
        </div>
        <input type="hidden" th:field="*{patientId}" th:value="${patient.id}">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
</div>
</body>
</html>